<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>movies</title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container" style="padding-top: 40px;">
    <nav class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/ ">Home</a >
      </li>
    <li class="nav-item">
        <a class="nav-link active" href="/product">Check All Shoes</a >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/addNew">Add New Shoes</a >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/vendors">Check Brand</a >
      </li>
  </nav>
  
   <div>
     <p>
    <%= message %>
    </p>
    
    <ul class="list-group">
      
      <% foot.shoes.forEach(function(item) { %>
      <div class="card">
        <li class="list-group-item">ID: <%= item.id %></li>
        <li class="list-group-item">NAME: <%= item.name %></li>
        <li class="list-group-item">BRAND: <%= item.brand %></li>
        <li class="list-group-item">PRICE: <%= item.price %></li>
        <li class="list-group-item">COLOR: <%= item.color %></li>
        <li class="list-group-item">IMAGE: <%= item.shoeUrl %></li>
        <li class="list-group-item"><img src=<%= item.shoeUrl %> </li>
        
        
      </div>
      <br>
      <% }) %>
     
    </ul>
    
  </div>
    
  </div>
</body>
</html>
