<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%- include ('partials/messages') %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="form-group">
          
<input type="radio" class="btn-check" name="options" autocomplete="off" value="student" id="student" checked>
<label class="btn btn-primary role" for="student" style="margin-right:2%;">Student</label>
          <input type="radio" class="btn-check" name="options" autocomplete="off" value="instructor" id="instructor">
<label class="btn btn-primary role" for="teacher" style="margin-left:2%;">Teacher</label>

<!--           <input
            type="text"
            id="roles"
            style="display:none"
            value="<%= typeof roles != 'undefined' ? roles : '' %>"
          /> -->
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="submit">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
  <script>
                    $(document).ready(function() {
                      
                      // var radio = $('input[name=options]');
                      // var radioValue = $('#roles');
                      // radioValue.val("student");
                      
                      // radio.change(function() {
                      //   radioValue.val($('input[name=options]:checked').val());
                      //   console.log(radioValue.val());
                      // });
                      
                      
                      
                      
                      // var checkedRadio = $('input[name=options]:checked + label');
                      // var uncechedRadio = $('input[name=options]:not(:checked) + label');
                      // checkedRadio.css("background-color", "#7099C8");
                      // uncechedRadio.css("background-color", "#ffffff");
                      // radio.click(function() {
                      //   checkedRadio.css("background-color", "#7099C8");
                      //   uncechedRadio.css("background-color", "#ffffff");
                      // });
                      // var button = $('#submit');
                      // if ()
                        
                    });
                </script>